<!--<suite name="Hungerstation Android smoke test" verbose="1" parallel="tests" thread-count="2">-->
<!--    <test name="HS 2 on Android 10">-->
<!--        <parameter name="platform" value="Android 10.0"/>-->
<!--        <parameter name="udid" value="emulator-5556"/>-->
<!--        <parameter name="systemPort" value="8200"/>-->
<!--        <classes>-->
<!--            <class name="com.hs.mobile.tests.Demo" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="HS on Android 10">-->
<!--        <parameter name="platform" value="Android 10.0"/>-->
<!--        <parameter name="udid" value="emulator-5554"/>-->
<!--        <parameter name="systemPort" value="8201"/>-->
<!--        <classes>-->
<!--            <class name="com.hs.mobile.tests.Demo" />-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->